//-------------------------Colors-----------------------------//

//Controls
$color-primary: #dddddd58;
$color-primary-light: #ffa60095;
$color-font-primary: #f0f8ff;

//Solar system
$color-background: #100020;
$color-neutral-black: #000000;
$color-circles: #fafafa18;

//Sun
$color-light-yellow: #ffff00;
$color-dark-yellow: #ffdf00;
$color-orange: #ff6f00;
$color-red: #ff0f00;

//Mercury & Venus & Mars & Jupiter
$color-shadow-1: #ffff000a;
$color-shadow-2: #ff9664cc;

//Earth
$color-shadow-3: #ff9bc866;

//Jupiter
$color-shadow-4: #ff9b6433;

//Saturn
$color-shadow-5: #ffaf6466;
$color-shadow-6: #ffc25766;

//Uranus
$color-shadow-7: #ff9b001a;

//Neptune
$color-shadow-8: #4040ff1a;
$color-shadow-9: #96bcfdcc;

//-------------------------Typography-----------------------------//

$font-family-1: "Lilita One", sans-serif;
$font-weight-1: 400;

//-------------------------Shadow-box-----------------------------//

//-------------------------Breakpoints-----------------------------//

$breakpoint-1: 87.5em;
$breakpoint-2: 21.875em;

//-------------------------Distance-----------------------------//

//Padding
